@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(30deg, rgba(0,0,0,1) 33%, rgba(121,7,42,1) 99%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.container__form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.form {
    width: 75%;
    background: linear-gradient(200deg, rgba(0,0,0,1) 33%, rgba(121,7,42,1) 99%);
    border-radius: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.h1 {
    font-size: 3rem;
    padding-top: 30px;
}

.h1--span {
    color: rgba(121,7,42,1);
}

.form__container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.form__info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

label {
    width: 80%;
    font-size: 20px;
    font-weight: 700
}

.inputs {
    font-size: 16px;
    padding: 0 0 10px 5px;
    width: 80%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid green;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}


.tyc {
    width: 72%;
    display: flex;
    gap: 7px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.tyc a {
    color: #0466c8;
}

.tyc a:hover {
    color: #d00000;
    cursor: pointer;
    transition: all 0.6s ease-out;
}

.btn {
    width: 72%;
    background: #000;
    border: none;
    color: #fff;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}

.btn:hover {
    background: #70e000;
    cursor: pointer;
    transition: all 0.7s ease;
    
}


.btp {
    width: 72%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 25px;
}

.btp a {
    color: #006400;
}

.a--account:hover {
    color: #70e000;
    cursor: pointer;
    transition: all 0.7s ease-out;
}

.a--page:hover{
    color: #ffbe0b;
    transition: all 0.6s ease;
}

@media (max-width:1201px) {
    .h1 {
        font-size: 2.2rem;
    }

    .form__container {
        width: 100%;
    }

    label {
        font-size: 16px;
    }

    .inputs {
        font-size: 14px;
    }

    .tyc,
    .btn,
    .btp {
        font-size: 14px;
    }
}

@media (max-width:710px) {
    .btp {
        flex-direction: column;
        gap: 15px;
    }

    .h1 {
        font-size: 1.5rem;
    }

    label {
        font-size: 14px;
    }

    .inputs {
        font-size: 12px;
    }

    .tyc {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
    }
}

@media (max-width:541px) {
    .tyc {
        flex-wrap: wrap;
    }

    .btp {
        font-size: 12px;
    }

    .form__container {
        gap: 10px;
    }

    .form {
        gap: 20px;
    }

    .form__info {
        gap: 5px;
    }
}


@media (max-width: 360px) {
    .form__info label {
        font-size: 12px;
    }

    .inputs {
        padding: 0 0 2px 2px;
    }

    .btp {
        padding: 5px 0 10px 0;
    }
}
